body {
  background-color: black;
  color: white;
  width: 100%;
}
.bouton {
  display: flex;
}

button {
  width: 8em;
  font-size: 3em;
  color: white;
  text-decoration: none;
  border: cornsilk solid;
  margin: 2em;
  padding: 1rem;
  text-align: center;
  background-color: black;
  display: flex;
  justify-content: center;
}
button:hover {
  color: black;
  background-color: white;
}
#commentaire {
  display: flex;
  color: white;
  margin-left: 1em;
}
.DifficulteTexte {
  flex-direction: row;
  display: flex;
  width: 100%;
}
#ImageDifficulte {
  max-width: 30vw;
}
.MenuDifficulte {
  display: flex;
  flex-direction: row;
}
.packset {
  width: 8em;
  font-size: 3em;
  color: white;
  text-decoration: none;
  border: cornsilk solid;
  margin: 2em;
  padding: 1rem;
  text-align: center;
  background-color: black;
  justify-self: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.packset:hover {
  color: #000;
  background-color: white;
}
.heroversus {
  display: flex;
  gap: 4em;
  flex-wrap: wrap;
  margin-top: 32px;
}

.heropack {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  margin-top: 4em;
  justify-content: center;
}
.monstrealigne {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#versustexte {
  font-size: 5em;
}
#buttonokletsgo {
  width: 8em;
  font-size: 3em;
  color: white;
  border: cornsilk solid;
  margin: 2em;
  padding: 1rem;
  text-align: center;
  background-color: black;
  text-decoration: none;
  font-family: fantasy;
}
.packmonstre {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  gap: 3em;
}
.jesaispas {
  display: flex;
  justify-content: center;
}
